<form [formGroup]="form" (ngSubmit)="save()" class="info-card">
  <textarea formControlName="text" [readonly]="card.isReadonly" class="text-area"></textarea>
  <button class="card-btn" type="submit">
    <img src="/assets/save-icon.png" width="50px">
  </button>
  <button class="card-btn" type="button" (click)="edit()">
    <img src="/assets/edit-icon.png" width="50px">
  </button>
  <button class="card-btn" type="button" (click)="delete()">
    <img src="/assets/delete-icon.png" width="50px">
  </button>
</form>
