<form 
  class="login-form" 
  [formGroup]="form"
  (ngSubmit)="onSubmit()"
  >
  <h1>Вход</h1>
  <label class="control-label">
    Логин
    <br>
    <input 
      type="text" pInputText formControlName="username" class="login" placeholder="Введите логин"/>
  </label>
  <label class="control-label">
    Пароль
    <br>
    <input 
      type="text" pInputText formControlName="password" class="password" placeholder="Введите Пароль"/>
  </label>
  <p-button label="Войти" severity="help" type="onSubmit"/>
</form>
<img src="assets/you-not-go.jpg" class="logo-icon">
