@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

:root{
  --dark-color: #000000;
  --white-color: #FFFFFF;
}

body{
  background-color: var(--dark-color);
  color: var(--white-color);
}